@charset "UTF-8";

@font-face {
    font-family: 'Formal';
    src: url('../fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        background-color: rgb(175, 144, 132);
        text-align: center;
        font-family: Formal;
    }


    header > h1{
        display: block;
        font-size: 20px;
        background-color: rgb(85, 63, 46);
        color: aliceblue;
    }

    header > p{
        color: rgb(75, 35, 20);
        font-size: 15px;
        padding: 5px;
    }


    li{
        position: relative;
        display: inline-block;
    }

    .escolha-heroi{
        width: 90vw;
        justify-content: space-between;
    }

    .herois{
        width:90px;
        border: 2px solid black;
        transition: 1s all;
    }

    .herois:hover{
        border-radius: 50%;
        border: 2px solid green;
    }

    .pontuação{
        background-color: rgb(85, 63, 46);
        color: aliceblue;
        font-size: 20px;
        padding: 5px;
    }

    main{
        padding: 10px 0px;
        width: 90vw;
        margin: auto;
        border-radius: 20px;
    }
    
    .batalha{
        width:125px;
        padding: 10px;
    }

    footer > p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        font-weight: bold;
        color: rgba(240, 248, 255, 0.541);
        bottom: 0;
    }

    .pontuação > li{
        font-size: 18px;
    }